<div class="box-100" ng-controller="dashboardCtrl">
    <div id="app-side-menu">
        <div id="app-side-menu-name">
            Dashboard
        </div>

        <div class="app-menu-group">
            <div class="app-menu-label margin-top-30">MENU</div>
            <div class="app-menu-option margin-top-5">
                <span class="pull-left">Time Table</span>
                <i class="fa fa-calendar-o pull-right"></i>
            </div>
            <div class="app-menu-option">
                <span class="pull-left">Messages</span>
                <i class="fa fa-bell-o pull-right"></i>
            </div>
            <div class="app-menu-option">
                <span class="pull-left">Events</span>
                <i class="fa fa-bookmark-o pull-right"></i>
            </div>
        </div>

        <div class="app-menu-label margin-top-30">Settings</div>
        <div class="app-menu-option margin-top-5">
            <span class="pull-left">Account</span>
            <i class="fa fa-calendar-o pull-right"></i>
        </div>
    </div>
</div>