body{
    background: url("../image/background/background_1.jpg") no-repeat;
    background-size:  100vw 100vh;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border: none !important;
}

.app-icon{
    width: 100px;
    height: 100px;
    margin: 10px;
    border: none !important;
}

.app-icon-dashboard{
    background: url("../image/main/Dashboard-icon.png") no-repeat;
    background-size: 90px 90px;
    border: none !important;
    outline: none !important;

}